h1{
    color:#11B1EF;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.video-container {
    text-align: center;
}

.video-container iframe {
    display: inline-block;
    max-width: 100%;
}

.sobre {
    padding: 0 40px; 
    margin: 0 3%; 
}

.sobre p{
    margin-bottom: 2%;
}

.programacao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 85%; 
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}