*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font: helvetica;
}

header{
    background-color: #15A2C1;
    height: 150px;
}

a{
    text-decoration:none ;    
    color:#000000;   
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
}

nav .logo{
    display: flex;
    align-items: left;
    margin-left: 0 auto;
    margin-top: 1%;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-top: 8%;
}

.nav-list li {
    position: relative;
  }

.nav-list li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s;
  }

.nav-list li:hover::after {
    width: 100%;
  }

.organizadores{
    width: 95vw;
    margin: 0 auto;
    flex: 4;
}

h2,h4{
    padding: 0 40px;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: #15A2C1;
}

.footer img {
    align-items: center;
    width: auto;
    height: 60px;
}


.realizacao {
    display: flex;
    width: 90vh;
    height: auto !important;
    flex-direction: column;
    align-items: center;
}

.apoio {
    display: flex;
    width: 90vh;
    flex-direction: column;
    align-items: center;
}

.apoio p, .realizacao p{
    font-size: 20px;
}

.imgs1 {
    display: flex;
    flex: wrap;

}

.imgs1 img {
    margin: 10px; /* Espaçamento entre as imagens de realização */
}

.imgs2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.imgs2 img {
    margin: 10px; 
    width: auto;
    height: 60px;
}
.imgs1 img.unip {
    width: 100px; 
    height: auto; 
}

footer{
    background-color: #15A2C1;
    width: 100%;
    
}

.organizadores {
    margin: 2%;
    width: 80vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.escolas img{
    height: 240px;
}