<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/regulamento.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <nav>
          <a class="logo" href="/"><img src="../static/img/logo.png"></a>
          <ul class="nav-list">
            <li><a href="/">Home |</a></li>
            <li><a href="/regulamento"> Regulamento |</a></li>
            <li><a href="/registros"> Fotos e vídeos</a></li>
          </ul>
        </nav>
    </header>

    <div class="block">
        {% block content %}
    
        {% endblock %}
        <br>
    </div>

    <footer>
        <p class="organizadores">
            Organizadores: 
            Professor Doutor Enrique França - Tutor de Física e Engenharia na UNIP, Professor de Física e Tecnologia da 
            Escola Estadual Nelson Monteiro, recentemente premiado com a medalha MMDC (maior honraria concedida a profissionais 
            da educação do Governo de São Paulo); a professora Patrícia Gonçalves, Tutora dos cursos de Tecnologia e Gestão; 
            e o aluno do Curso de Física, Alexandre Augusto, todos da UNIP SJC
        </p>
        <div class="footer">
            <div class="realizacao">
                <p>Realização: </p>
                <div class="imgs1">
                    <img src="../static/img/rodape/unip.jpeg" class="unip">
                    <img src="../static/img/rodape/objetivo.jpeg" class="obj">
                </div>
            </div>
            <div class="apoio">
                <p>Apoio</p>
                <div class="imgs2">
                    <img src="../static/img/rodape/dsa.jpeg" class="dsa">
                    <img src="../static/img/rodape/farmaceutica.jpeg" class="farm">
                    <img src="../static/img/rodape/fisicando.jpeg" class="fisic">
                    <img src="../static/img/rodape/galileu galilei.jpeg" class="gg">
                    <img src="../static/img/rodape/jp-fm.jpeg" class="jp">
                    <img src="../static/img/rodape/key zoom.jpeg" class="kz">
                    <img src="../static/img/rodape/marinha2.png" class="marinha">
                    <img src="../static/img/rodape/mercadinho.png" class="merc">
                    <img src="../static/img/rodape/nautica.png" class="naut">
                    <img src="../static/img/rodape/parque tec.jpeg" class="pqt">
                </div>
            </div>
        </div>
<!--        <div class="footer">
            <div class="realizacao">
                <p>Realização: </p>
                <div class="imgs1">
                    <img src="../static/img/rodape/unip.jpeg" class="unip">
                    <img src="../static/img/rodape/objetivo.jpeg" class="obj">
                </div>
            </div>
            <div class="apoio">
                <p>Apoio</p>
                <div class="imgs2">
                    <img src="../static/img/rodape/dsa.jpeg" class="dsa">
                    <img src="../static/img/rodape/farmaceutica.jpeg" class="farm">
                    <img src="../static/img/rodape/fisicando.jpeg" class="fisic">
                    <img src="../static/img/rodape/galileu galilei.jpeg" class="gg">
                    <img src="../static/img/rodape/jp-fm.jpeg" class="jp">
                    <img src="../static/img/rodape/key zoom.jpeg" class="kz">
                    <img src="../static/img/rodape/marinha2.png" class="marinha">
                    <img src="../static/img/rodape/mercadinho.png" class="merc">
                    <img src="../static/img/rodape/nautica.png" class="naut">
                    <img src="../static/img/rodape/parque tec.jpeg" class="pqt">
                </div>
            </div>
            <p class="organizadores">
                Organizadores: 
                Professor Doutor Enrique França - Tutor de Física e Engenharia na UNIP, Professor de Física e Tecnologia da 
                Escola Estadual Nelson Monteiro, recentemente premiado com a medalha MMDC (maior honraria concedida a profissionais 
                da educação do Governo de São Paulo); a professora Patrícia Gonçalves, Tutora dos cursos de Tecnologia e Gestão; 
                e o aluno do Curso de Física, Alexandre Augusto, todos da UNIP SJC
            </p>
        </div> -->
        <br>
        <br>
    </footer>
</body>
</html>