{% extends "base.html" %}

{% block content %}
    <h1>Seja bem vindo(a)!</h1>
    <div class="sobre">
        O objetivo principal da MOBVAP 2023 é promover a educação STEAM (Ciência, Tecnologia, Engenharia, Artes/Design e Matemática) entre os estudantes, 
        despertando a curiosidade, a criatividade e o espírito empreendedor. A mostra visa inspirar jovens a explorar o conhecimento científico e tecnológico 
        de maneira prática e envolvente, aplicando esses princípios na construção de barcos à vapor.

        Além disso, a MOBVAP incentiva a troca de conhecimento e experiências entre escolas, estudantes, professores e instituições parceiras. Isso cria um 
        ambiente de colaboração e aprendizado mútuo, onde todos podem se beneficiar do compartilhamento de ideias e soluções.

        A competição de barcos à vapor não apenas desafia os participantes a aplicarem seus conhecimentos, mas também os motiva a superar desafios e aprimorar 
        suas habilidades práticas. Além disso, a premiação que inclui barquinhos de controle remoto, medalhas e até mesmo um passeio para a escola campeã no 
        Porto de Santos reforça a importância do evento e incentiva a excelência.

        Em resumo, a MOBVAP é muito mais do que uma competição; é uma celebração do conhecimento, da criatividade e do espírito empreendedor dos estudantes, 
        com o objetivo de prepará-los para um futuro de descobertas e realizações.
    </div>

    <div>
        <h2>Programação da MOBVAP</h2>
        <h4>30.09.23  - SÁBADO - DIA MUNDIAL DA NAVEGAÇÃO</h4>

        <div class="programacao">
            <p>Pátio e Refeitório:</p>
            <p>8:00 - Recepção das escolas participantes para credenciamento, distribuição do Kit Lanche. Checagem e registro (foto) dos barquinhos.</p>
    
            <p>Auditório:</p>
            <p>
                9:00 - Abertura oficial do evento.
                9:30 – Orientações Gerais
            </p>
    
            <p>Pátio:</p>
            <p>
                9:45 - Sorteio e formação dos grupos, definição do chaveamento da competição.
                10:00 - Início da competição e fase de grupos.
                11:00 - Votação para o Barquinho mais bonito da competição (realizadores e apoiadores) e lançamento da nova modalidade 2024.
                11:30 - Semifinal.
                11:40 - Disputa pelo 3º Lugar.
                11:50 - Grande Final.
                12:00 - Entrega do Prêmio para o Barquinho mais bonito.
                12:10 - Entrega das medalhas para o 3º, 2º e 1º lugares.
                12:30 - Encerramento do evento.
            </p>
        </div>
    </div>

    
{% endblock %}