{% extends "base.html" %}

{% block content %}
    <h1>Seja bem vindo(a)!</h1>
    <div class="sobre">
        <p>
            O objetivo principal da MOBVAP 2023 é promover a educação STEAM (Ciência, Tecnologia, Engenharia, Artes/Design e Matemática) entre os estudantes, 
            despertando a curiosidade, a criatividade e o espírito empreendedor. A mostra visa inspirar jovens a explorar o conhecimento científico e tecnológico 
            de maneira prática e envolvente, aplicando esses princípios na construção de barcos à vapor.
        </p>

        <p>
            Além disso, a MOBVAP incentiva a troca de conhecimento e experiências entre escolas, estudantes, professores e instituições parceiras. Isso cria um 
            ambiente de colaboração e aprendizado mútuo, onde todos podem se beneficiar do compartilhamento de ideias e soluções.
        </p>

        <p>
            A competição de barcos à vapor não apenas desafia os participantes a aplicarem seus conhecimentos, mas também os motiva a superar desafios e aprimorar 
            suas habilidades práticas. Além disso, a premiação que inclui barquinhos de controle remoto, medalhas e até mesmo um passeio para a escola campeã no 
            Porto de Santos reforça a importância do evento e incentiva a excelência.
        </p>

        <p>
            Em resumo, a MOBVAP é muito mais do que uma competição; é uma celebração do conhecimento, da criatividade e do espírito empreendedor dos estudantes, 
            com o objetivo de prepará-los para um futuro de descobertas e realizações.
        </p>
    </div>

    <div>
        <h2>Programação da MOBVAP</h2>
        <h4>30.09.23  - SÁBADO - DIA MUNDIAL DA NAVEGAÇÃO</h4>
        <div class="programacao">
            <table>
                <thead>
                    <tr>
                        <th>Horário</th>
                        <th>Atividade</th>
                        <th>Local</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>8:00</td>
                        <td>Recepção das escolas participantes para credenciamento, distribuição do Kit Lanche. Checagem e registro (foto) dos barquinhos</td>
                        <td>Pátio e Refeitório</td>
                    </tr>
                    <tr>
                        <td>9:00</td>
                        <td>Abertura oficial do evento</td>
                        <td>Auditório</td>
                    </tr>
                    <tr>
                        <td>9:30</td>
                        <td>Orientações Gerais</td>
                        <td>Auditório</td>
                    </tr>
                    <tr>
                        <td>9:45</td>
                        <td>Sorteio e formação dos grupos, definição do chaveamento da competição</td>
                        <td>Pátio</td>
                    </tr>
                    <tr>
                        <td>10:00</td>
                        <td>Início da competição e fase de grupos</td>
                        <td>Pátio</td>
                    </tr>
                    <tr>
                        <td>11:00</td>
                        <td>Votação para o Barquinho mais bonito da competição (realizadores e apoiadores) e lançamento da nova modalidade 2024</td>
                        <td>Pátio</td>
                    </tr>
                    <tr>
                        <td>11:30</td>
                        <td>Semifinal</td>
                        <td>Pátio</td>
                    </tr>
                    <tr>
                        <td>11:40</td>
                        <td>Disputa pelo 3º Lugar</td>
                        <td>Pátio</td>
                    </tr>
                    <tr>
                        <td>11:50</td>
                        <td>Grande Final</td>
                        <td>Pátio</td>
                    </tr>
                    <tr>
                        <td>12:00</td>
                        <td>Entrega do Prêmio para o Barquinho mais bonito</td>
                        <td>Pátio</td>
                    </tr>
                    <tr>
                        <td>12:10</td>
                        <td>Entrega das medalhas para o 3º, 2º e 1º lugares</td>
                        <td>Pátio</td>
                    </tr>
                    <tr>
                        <td>12:30</td>
                        <td>Encerramento do evento</td>
                        <td>Pátio</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
{% endblock %}