{% extends "base.html" %}

{% block content %}

<div class="escolas">
    <div class="ecompo">
        <h3>Colégio Ecompo</h3>
        <img src="../static/img/escolas/ecompo.jpeg">
        <video width="320" height="240" controls>
            <source src="../static/videos/ecompo.mp4" type="video/mp4">
        </video>
    </div>
    <div class="opcao">
        <h3>Colégio Opção</h3>
        <img src="../static/img/escolas/opcao.jpeg">
        <video width="320" height="240" controls>
            <source src="../static/videos/Mobvap - teste de desempenho-opcao.MP4" type="video/mp4">
        </video>
    </div>
    <div class="alpha">
        <h3>Colégio Alpha Lumen</h3>
        <img src="../static/img/escolas/alpha-lumen.jpeg">
        <video width="320" height="240" controls>
            <source src="../static/videos/alpha-lumen-1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="arnoldo">
        <h3>Colégio Arnoldo</h3>
        <img src="../static/img/escolas/arnoldo1.jpeg">
        <img src="../static/img/escolas/arnaldo2.jpeg">
        <video width="320" height="240" controls>
            <source src="../static/videos/arnoldo.mp4" type="video/mp4">
        </video>
    </div>
    <div class="candelaria">
        <h3>Colégio Candelária</h3>
        <img src="../static/img/escolas/candelaria.jpeg">
        <video width="320" height="240" controls>
            <source src="../static/videos/candelaria.mp4" type="video/mp4">
        </video>
    </div>
    <div class="celisa">
        <h3>Colégio Celisa</h3>
        <img src="../static/img/escolas/celisa.jpeg">
        <video width="320" height="240" controls>
            <source src="../static/videos/celisa.mp4" type="video/mp4">
        </video>
    </div>
    <div class="crista batista">
        <h3>Colégio Cristã Batista</h3>
        <img src="../static/img/escolas/crista batista.jpeg">
        <video width="320" height="240" controls>
            <source src="../static/videos/crista batista.mp4" type="video/mp4">
        </video>
    </div>
    <div class="ederia irene">
        <h3>Colégio Edéria Irene</h3>
        <img src="../static/img/escolas/edera irene.jpeg">
        <video width="320" height="240" controls>
            <source src="../static/videos/ederia irene.mp4" type="video/mp4">
        </video>
    </div>
    
    <div class="francisco pereira">
        <h3>Colégio Francisco Pereira</h3>
        <img src="../static/img/escolas/francisco pereira.jpeg">
        <video width="320" height="240" controls>
            <source src="../static/videos/francisco pereira.mp4" type="video/mp4">
        </video>
    </div>
    
    <div class="inspire">
        <h3>Colégio Inspire</h3>
        <img src="../static/img/escolas/inspire.jpeg">
        <video width="320" height="240" controls>
            <source src="../static/videos/inspire.mp4" type="video/mp4">
        </video>
    </div>
    <div class="nelson">
        <h3>Escola Estadual Nelson do Nascimento Monteiro</h3>
        <img src="../static/img/escolas/nelson.jpeg">
        <video width="320" height="240" controls>
            <source src="../static/videos/nelson.mp4" type="video/mp4">
        </video>
    </div>
    <div class="objetivo">
        <h3>Colégio Objetivo</h3>
        <img src="../static/img/escolas/objetivo.jpeg">
        <video width="320" height="240" controls>
            <source src="../static/videos/objetivo aquarios.mp4" type="video/mp4">
        </video>
    </div>
</div>

{% endblock %}