{% extends "base.html" %}

{% block content %}

<div class="escolas">
    <div class="ecompo">
        <h3>Colégio Ecompo</h3>
        <img src="../static/img/escolas/ecompo.jpeg">   
        <iframe src="https://www.youtube.com/embed/uLp4hpSzgmU?si=xv5H3Dq6BCMMBBi_" title="Vídeo explicativo" width="320" height="240"></iframe>
    </div>
    <div class="opcao">
        <h3>Colégio Opção</h3>
        <img src="../static/img/escolas/opcao.jpeg">
        <iframe src="https://youtube.com/shorts/ngbMBGl1UbU?si=FnwUo8tNmrXtHaDw" title="Vídeo explicativo" width="320" height="240"></iframe>
    </div>
    <div class="alpha">
        <h3>Colégio Alpha Lumen</h3>
        <img src="../static/img/escolas/alpha-lumen.jpeg">
        <iframe src="https://www.youtube.com/embed/xfPqMvWf2iw?si=hETLGXB88Ip8Zii9" title="Vídeo explicativo" width="320" height="240"></iframe>
    </div>
    <div class="arnoldo">
        <h3>Colégio Arnoldo</h3>
        <img src="../static/img/escolas/arnoldo1.jpeg">
        <img src="../static/img/escolas/arnaldo2.jpeg">
        <iframe src="https://www.youtube.com/embed/I_PY5VgasqM?si=JAnH594C1ibO_ib_" title="Vídeo explicativo" width="320" height="240"></iframe>
    </div>
    <div class="candelaria">
        <h3>Colégio Candelária</h3>
        <img src="../static/img/escolas/candelaria.jpeg">
        <iframe src="https://youtube.com/embed/ngbMBGl1UbU?si=FnwUo8tNmrXtHaDw" title="Vídeo explicativo" width="320" height="240"></iframe>
    </div>
    <div class="celisa">
        <h3>Colégio Celisa</h3>
        <img src="../static/img/escolas/celisa.jpeg">
        <iframe src="https://www.youtube.com/embed/QrERWMV2EmE?si=EtN8plWcEiB2NIfB" title="Vídeo explicativo" width="320" height="240"></iframe>
    </div>
    <div class="crista batista">
        <h3>Colégio Cristã Batista</h3>
        <img src="../static/img/escolas/crista batista.jpeg">
        <iframe src="https://youtube.com/embed/FBibA40VQag?si=CKI0Cdn_Z0Ce9KN7" title="Vídeo explicativo" width="320" height="240"></iframe>
    </div>
    <div class="ederia irene">
        <h3>Colégio Edéria Irene</h3>
        <img src="../static/img/escolas/edera irene.jpeg">
        <iframe src="https://youtube.com/shorts/ngbMBGl1UbU?si=FnwUo8tNmrXtHaDw" title="Vídeo explicativo" width="320" height="240"></iframe>
    </div>
    
    <div class="francisco pereira">
        <h3>Colégio Francisco Pereira</h3>
        <img src="../static/img/escolas/francisco pereira.jpeg">
        <iframe src="https://youtube.com/shorts/ngbMBGl1UbU?si=FnwUo8tNmrXtHaDw" title="Vídeo explicativo" width="320" height="240"></iframe>
    </div>
    
    <div class="inspire">
        <h3>Colégio Inspire</h3>
        <img src="../static/img/escolas/inspire.jpeg">
        <iframe src="https://www.youtube.com/embed/YYcBt4EFtSw?si=xrIK-xQlQOK1P267" title="Vídeo explicativo" width="320" height="240"></iframe>
    </div>
    <div class="nelson">
        <h3>Escola Estadual Nelson do Nascimento Monteiro</h3>
        <img src="../static/img/escolas/nelson.jpeg">
        <iframe src="https://youtube.com/shorts/ngbMBGl1UbU?si=FnwUo8tNmrXtHaDw" title="Vídeo explicativo" width="320" height="240"></iframe>
    </div>
    <div class="objetivo">
        <h3>Colégio Objetivo</h3>
        <img src="../static/img/escolas/objetivo.jpeg">
        <iframe src="https://www.youtube.com/embed/RUVoJRDzuR8?si=RSdCIb0UiLWKuzMn" title="Vídeo explicativo" width="320" height="240"></iframe>
    </div>
</div>

{% endblock %}