{% extends "base.html" %}

{% block content %}
    <h1>1ª MOSTRA DE BARCOS À VAPOR (MOBVAP) – REGULAMENTO</h1>

    <p>
        Data da seletiva na Escola: 23.06.23 (Dia do Agente Marítimo)
        Envio dos nomes dos 5 estudantes / professor representante: até 30.06.23
        Data do evento (Mostra): 30.09.23 (Dia Mundial da Navegação)
        Local da Mostra: Colégio Objetivo Aquárius - São José dos Campos
        Horário de início da Mostra: 8h00
    </p>

    <h4>1) CONSIDERAÇÕES INICIAIS:</h4>
    <p>
        Caras escolas participantes,
        É com grande satisfação e entusiasmo que reforçamos o nosso compromisso na realização da 1ª Mostra de Barcos à Vapor (MOBVAP). 
        Neste evento emocionante, os alunos  terão a oportunidade de construir suas pequenas máquinas térmicas e competir com seus próprios 
        barquinhos à vapor. No evento de lançamento da MOBVAP que ocorreu no dia 22.04.23 foram dadas as orientações e especificações que 
        devem ser seguidas por todas as escolas participantes. As equipes deverão comparecer no dia do evento (30.09.23) às 8h00  no Colégio 
        Objetivo Aquárius, para credenciamento e retirada do kit lanche. Para garantir uma competição justa e segura  tais especificações são 
        agora apresentadas de forma mais detalhada.
    </p>

    <h4>2) MATERIAIS PERMITIDOS:</h4>
    <p>
        Os barquinhos DEVEM ser construídos com os materiais descritos abaixo:
        - Latinha de Alumínio
        - Canudos plásticos (dobráveis)
        - Bandeja de isopor para frios
        - Vela Palito
        - Elásticos Látex
        - Cola Epóxi (Araudite)
        - Cola quente
        Segue o link do vídeo do canal “Manual do Mundo” com o passo a passo de como o barquinho DEVE ser construído:
        <!--https://www.youtube.com/watch?v=QHcXqpYGJ8M&t=131s-->
        Barquinhos com materiais diferentes como os descritos acima serão desclassificados. Exemplo: Casco feito com plásticos, 
        fibras especiais etc. não são permitidos, somente o tipo do isopor citado acima.
    </p>

    <h4>3) DIMENSÕES PERMITIDAS:</h4>
    <p>
        O casco do barquinho (Anexo 1) bem como o projeto da evaporadora (Anexo 2) DEVEM seguir rigorosamente os padrões (templates) 
        mostrados nos respectivos anexos. Os barquinhos passarão por uma inspeção logo antes da primeira corrida pelos fiscais do grupo em questão. 
        Não serão aceitos barquinhos com comprimento diferente daquele descrito no Anexo 1 e nem barquinhos com evaporadora diferente daquela descrita 
        no Anexo 2. Também não será aceita evaporadora com mais de dois canudos para saída dos vapores e nem barquinhos com mais de uma evaporadora.
        OBS: Podem ser realizadas melhorias no suporte da vela palito desde que sejam usados somente os materiais descritos no item 2 (alumínio da latinha, 
        isopor para frios etc.). A melhor posição da vela embaixo da evaporadora poderá ser investigada e ajustada por cada equipe para um melhor rendimento 
        do barquinho. Através de votação, a ampla maioria dos professores decidiu pela permissão do uso de outros tipos de velas (além da vela palito sugerida 
        inicialmente pela comissão organizadora). As demais especificações deste regulamento devem ser seguidas com rigor.
    </p>

    <h4>4) PERSONALIZAÇÃO:</h4>
    <p>
        É permitido o uso de adesivos, tintas, isopor (o mesmo descrito anteriormente) e outros materiais decorativos para personalizar o barquinho, desde que 
        não afetem sua funcionalidade básica e não fuja dos padrões apresentados no Anexo 1 e Anexo 2. A eleição do barquinho mais bonito será realizada pelos 
        apoiadores presentes no evento. Os barquinhos serão avaliados com base nos critérios funcionalidade (o barquinho precisa funcionar!), criatividade, design 
        e originalidade.
    </p>

    <h4>5) SEGURANÇA:</h4>
    <p>
        Os alunos devem comparecer com uniforme da escola e todos participantes envolvidos devem comparecer com documento de identidade no dia da competição. 
        A construção do barquinho deve ser segura e não representar riscos para os participantes ou para o ambiente. É importante garantir que o sistema de propulsão 
        a vapor seja utilizado de forma responsável, sendo o pavio da vela palito o único combustível permitido tanto na seletiva quanto na competição (evento final). 
        Por praticidade e segurança recomenda-se o uso de um acendedor Mega Lighter BIC para acender a vela no dia do evento final.
        O uso de outros combustíveis como álcool ou combustíveis fósseis são expressamente proibidos ao longo do projeto.
        Teremos uma equipe de primeiros socorros no dia do evento e o colégio sede da Mostra contará com profissionais de segurança na portaria de entrada.
    </p>

    <h4>6) CHAVEAMENTO DA COMPETIÇÃO:</h4>
    <p>
        Os 4 grupos (com 3 escolas cada) serão formados por sorteio no dia do evento. Cada escola retirará da URNA uma letra (de A a M), como mostrado na figura abaixo:
    </p>
    <p>IMAGEM 1</p>
    <p>
        Em cada grupo teremos 2 fiscais, um para registros dos resultados e ocorrências e outro para análise de vídeo (para confirmar eventual empate). Teremos dois turnos 
        na  fase de grupo, ou seja, a equipe A por exemplo fará duas corridas no primeiro turno (A X B e A X C) e no segundo turno mais duas corridas (A X B e A X C). Em 
        caso de vitória a equipe somará 3 pontos, empate 1 ponto e derrota a equipe não somará ponto. Caso o barquinho não funcione ou a equipe não compareça no momento 
        da corrida a equipe perderá os pontos por W.O. Classifica para a semifinal os barquinhos que ficarem em 1º Lugar na fase de grupos. Os barquinhos que perderem as 
        semifinais disputarão o 3º lugar e os barquinhos que vencerem as semifinais disputarão o 1º Lugar. OBS: Na fase semifinal e final em se comprovando empate pela 
        análise de vídeo uma nova corrida deverá ser requisitada.
    </p>

    <h4>7) REGRAS DA CORRIDA:</h4>
    <p>
        7.1 – Cada equipe com auxílio de uma seringa, deverá abastecer os canudos da evaporadora com água da própria pista e com cuidado posicionar o barquinho no INÍCIO da 
        sua respectiva pista aquática  e deixar o mesmo PARADO . Em hipótese alguma o barquinho poderá ser empurrado com as mãos, assoprado etc. Caso isso ocorra, a equipe 
        poderá ser penalizada com desclassificação.
        7.2 – Ao sinal do fiscal cada equipe com auxílio de um isqueiro ou acendedor deverá proceder imediatamente ao acendimento do pavio da vela (um outro membro da equipe deverá 
        ajudar a manter o barquinho parado no momento do acendimento da vela). Neste momento a corrida JÁ ESTARÁ VALENDO! O tempo gasto neste procedimento  e o tempo que o barquinho 
        levará para iniciar o seu movimento será parte integrante da corrida. 
        7.3 – Vence o barquinho que chegar primeiro ou sozinho ao final da pista (quando bater no final da calha). Após 2 minutos, se os DOIS barquinhos não saírem do lugar uma nova 
        corrida com os barquinhos reservas será solicitada pelos fiscais (se repetir o ocorrido a próxima corrida será solicitada pelos Fiscais) A Pista terá 150 cm de comprimento, 
        20 cm de largura e 5 cm de profundidade. Descontando o comprimento do barquinho (~21.5 cm) tem-se 128,5 cm de percurso útil na pista.
        7.4 – Caso haja suspeita de empate será procedida a análise de vídeo. Comprovando o empate na fase de grupos será concedido 1 ponto para cada equipe. Caso haja empate nas fases 
        eliminatórias uma nova corrida deverá ser requisitada.
        7.5 – Os acessórios necessários para a corrida (seringa, isqueiro ou acendedor) e materiais de reposição (velas palito, elásticos) serão de inteira responsabilidade das escolas 
        participantes. É extremamente indicado levar uma reserva desses materiais para reposição durante a competição.
        7.6 – A escola poderá levar um barquinho reserva desde que seja uma réplica fiel ao titular tanto nas dimensões quanto na personalização, entretanto é de suma importância que o(s) 
        barquinho(s) seja(m) testado(s) e colocado(s) em funcionamento na escola para evitar surpresas indesejadas no dia da Mostra. Também é indicado o uso de uma caixa para transportar 
        e armazenar o(s) barquinho(s) para evitar eventuais danificações.
    </p>

    <h4>8) PREMIAÇÃO:</h4>
    <p>
        8.1- A equipe com o barquinho mais bonito da competição será premiada com 5 mini barquinhos de controle remoto (1 para cada estudante da equipe).
        8.2- A equipe que ficar em 3º Lugar será premiada com medalhas de bronze.
        8.3- A equipe que ficar em 2º Lugar será premiada com medalhas de prata.
        8.4- A equipe que ficar em 1º Lugar será premiada com o troféu da competição, com medalhas de ouro e com uma visita (com transporte e almoço inclusos)  
        para conhecer um navio da Marinha atracado no Porto de Santos. Essa visita acontecerá no dia 19.10.23 (quinta-feira) com saída 7hs do Colégio Objetivo 
        Aquárius em São José dos Campos e volta às 17hs do Cais Porto de Santos (Marinha).
    </p>

    <h4>9) CONDUTA DOS COMPETIDORES:</h4>
    <p>
        9.1 - Os competidores devem se comportar de maneira sociável e amigável para com os adversários, espectadores e membros oficiais do evento.
        9.2 – Os competidores não devem usar linguagem vulgar enquanto estiverem competindo, dirigir palavras ofensivas, desafios, ironias, gestos obscenos e afins aos adversários. 
        Caso ocorra, poderão ser penalizados com desclassificação.
        9.3 - Os competidores deverão estar disponíveis para cerimônias de premiação, fotografias ou qualquer outro evento oficial, como por exemplo a visita ao navio da Marinha em 
        Santos no dia 19.10.23 em caso de a equipe ficar em 1º Lugar.
        9.4 – Em todas as etapas do projeto os alunos e/ou responsáveis autorizam o uso de suas imagens, nomes e vozes pela Comissão organizadora durante o prazo de 24 meses (vinte e 
        quatro meses) a contar da data da seletiva nas escolas.
    </p>

    <h4>10) CONSIDERAÇÕES FINAIS:</h4>
    <p>
        Lembramos que é responsabilidade de cada escola garantir que os barquinhos estejam em conformidade com as especificações mencionadas acima. Além disso, é fundamental incentivar 
        a participação ativa dos alunos no processo de construção, promovendo a criatividade e a colaboração. A lista dos 5 alunos/professor representante deverá ser enviada até o dia 
        29.06.23 por meio do formulário a seguir: 
        https://acesse.one/9oiTF
        Também é muito importante durante a preparação dos estudantes que os professores responsáveis promovam uma reflexão sobre fracasso e sucesso em situações classificatórias como as que 
        ocorrem em olimpíadas, vestibulares, dinâmica  em entrevista de emprego e competições como a MOBVAP. Indicamos o vídeo de uma resposta do jogador da NBA Giannis Antetokounmpo do 
        Miwaukee Bucks a uma pergunta de um entrevistador. A resposta se aplica em qualquer época e área de nossas vidas.
        LINK do vídeo para reflexão:
        https://www.tiktok.com/@go.ots/video/7226748465148153093
        Desejamos a todos um evento emocionante e cheio de diversão! Se tiverem alguma dúvida ou necessitarem de mais informações, não hesitem em entrar em contato.

        Atenciosamente,
        Equipe MOBVAP.
    </p>

{% endblock %}