{% extends "base.html" %}

{% block content %}
    <h1>1ª MOSTRA DE BARCOS À VAPOR (MOBVAP) – REGULAMENTO</h1>


    <p class="intro">
        <table>
            <tr>
                <td>Data da seletiva na Escola</td>
                <td>23.06.23 (Dia do Agente Marítimo)</td>
            </tr>
            <tr>
                <td>Envio dos nomes dos 5 estudantes / professor representante</td>
                <td>até 30.06.23</td>
            </tr>
            <tr>
                <td>Data do evento (Mostra)</td>
                <td>30.09.23 (Dia Mundial da Navegação)</td>
            </tr>
            <tr>
                <td>Local da Mostra</td>
                <td>Colégio Objetivo Aquárius - São José dos Campos</td>
            </tr>
            <tr>
                <td>Horário de início da Mostra</td>
                <td>8h00</td>
            </tr>
        </table>         
        <!--<p class="p"><strong>Data da seletiva na Escola:</strong> 23.06.23 (Dia do Agente Marítimo)</p>
        <p class="p"><strong>Envio dos nomes dos 5 estudantes / professor representante:</strong> até 30.06.23</p>
        <p class="p"><strong>Data do evento (Mostra):</strong> 30.09.23 (Dia Mundial da Navegação)</p>
        <p class="p"><strong>Local da Mostra:</strong> Colégio Objetivo Aquárius - São José dos Campos</p>
        <p class="p"><strong>Horário de início da Mostra:</strong> 8h00</p> -->   
    </div>

    <div class="corpo">
    
        <h4>1) CONSIDERAÇÕES INICIAIS:</h4>
        <p>
            <p>Caras escolas participantes,</p> <br>
            <p>É com grande satisfação e entusiasmo que reforçamos o nosso compromisso na realização da 1ª Mostra de Barcos à Vapor (MOBVAP). </p>
            <p>Neste evento emocionante, os alunos  terão a oportunidade de construir suas pequenas máquinas térmicas e competir com seus próprios 
                barquinhos à vapor.</p>
            <p>No evento de lançamento da MOBVAP que ocorreu no dia 22.04.23 foram dadas as orientações e especificações que 
                devem ser seguidas por todas as escolas participantes. As equipes deverão comparecer no dia do evento (30.09.23) às 8h00  no Colégio 
                Objetivo Aquárius, para credenciamento e retirada do kit lanche. Para garantir uma competição justa e segura  tais especificações são 
                agora apresentadas de forma mais detalhada.</p>
        </p>
    
        <div class="info">
            <h4>2) Materiais permitidos</h4>
            <p>Os barquinhos DEVEM ser construídos com os materiais descritos abaixo:</p>
            <ul class="infoul">
                <li class="infoli">Latinha de Alumínio</li>
                <li class="infoli">Canudos plásticos (dobráveis)</li>
                <li class="infoli">Bandeja de isopor para frios
                <li class="infoli">Vela Palito</li>
                <li class="infoli">Elásticos Látex</li>
                <li class="infoli">Cola Epóxi (Araudite)</li>
                <li class="infoli">Cola quente</li>
            </ul>
            <p>Segue o link do vídeo do canal "Manual do Mundo" com o passo a passo de como o barquinho DEVE ser construído:</p>
            <p><a href="https://www.youtube.com/watch?v=QHcXqpYGJ8M&t=131s" target="_blank">Assista ao vídeo tutorial</a></p>
            <p>Barquinhos com materiais diferentes como os descritos acima serão desclassificados. Exemplo: Casco feito com plásticos, 
                fibras especiais etc. não são permitidos, somente o tipo do isopor citado acima.</p>
        </div>
        
    
        <h4>3) DIMENSÕES PERMITIDAS:</h4>
        <ul>
            <li>O casco do barquinho (Anexo 1) bem como o projeto da evaporadora (Anexo 2) DEVEM seguir rigorosamente os padrões (templates) mostrados nos respectivos anexos.</li>
            <li>Os barquinhos passarão por uma inspeção logo antes da primeira corrida pelos fiscais do grupo em questão.</li>
            <li>Não serão aceitos barquinhos com comprimento diferente daquele descrito no Anexo 1 e nem barquinhos com evaporadora diferente daquela descrita no Anexo 2.</li>
            <li>Também não será aceita evaporadora com mais de dois canudos para saída dos vapores e nem barquinhos com mais de uma evaporadora.</li>
            <li>OBS: Podem ser realizadas melhorias no suporte da vela palito desde que sejam usados somente os materiais descritos no item 2 (alumínio da latinha, isopor para frios etc.).</li>
            <li>A melhor posição da vela embaixo da evaporadora poderá ser investigada e ajustada por cada equipe para um melhor rendimento do barquinho.</li>
            <li>Através de votação, a ampla maioria dos professores decidiu pela permissão do uso de outros tipos de velas (além da vela palito sugerida inicialmente pela comissão organizadora).</li>
            <li>As demais especificações deste regulamento devem ser seguidas com rigor.</li>

        </ul>
    
        <h4>4) PERSONALIZAÇÃO:</h4>
        <p>
            <p>É permitido o uso de adesivos, tintas, isopor (o mesmo descrito anteriormente) e outros materiais decorativos para personalizar o barquinho, desde que 
                não afetem sua funcionalidade básica e não fuja dos padrões apresentados no Anexo 1 e Anexo 2.
            </p>
            <p>A eleição do barquinho mais bonito será realizada pelos apoiadores presentes no evento. Os barquinhos serão avaliados com base nos critérios funcionalidade (o barquinho precisa funcionar!), criatividade, design 
            e originalidade.</p>
        </p>
    
        <h4>5) SEGURANÇA:</h4>
        <p>
            <p>Os alunos devem comparecer com uniforme da escola e todos participantes envolvidos devem comparecer com documento de identidade no dia da competição.</p>
            <p>A construção do barquinho deve ser segura e não representar riscos para os participantes ou para o ambiente.</p>
            <p>É importante garantir que o sistema de propulsão a vapor seja utilizado de forma responsável, sendo o pavio da vela palito o único combustível permitido tanto na seletiva quanto na competição (evento final).</p>
            <p>Por praticidade e segurança recomenda-se o uso de um acendedor Mega Lighter BIC para acender a vela no dia do evento final.</p>
            <p>O uso de outros combustíveis como álcool ou combustíveis fósseis são expressamente proibidos ao longo do projeto.</p>
            <p>Teremos uma equipe de primeiros socorros no dia do evento e o colégio sede da Mostra contará com profissionais de segurança na portaria de entrada.</p>
        </p>
    
        <h4>6) CHAVEAMENTO DA COMPETIÇÃO:</h4>
        <p>Os 4 grupos (com 3 escolas cada) serão formados por sorteio no dia do evento. Cada escola retirará da URNA uma letra (de A a M), como mostrado na figura abaixo:</p>
        <p>IMAGEM 1</p>
        <p>Em cada grupo teremos 2 fiscais, um para registros dos resultados e ocorrências e outro para análise de vídeo (para confirmar eventual empate). Teremos dois turnos na fase de grupo, ou seja, 
            a equipe A por exemplo fará duas corridas no primeiro turno (A X B e A X C) e no segundo turno mais duas corridas (A X B e A X C). Em caso de vitória a equipe somará 3 pontos, empate 1 ponto 
            e derrota a equipe não somará ponto. Caso o barquinho não funcione ou a equipe não compareça no momento da corrida a equipe perderá os pontos por W.O. Classifica para a semifinal os barquinhos 
            que ficarem em 1º Lugar na fase de grupos. Os barquinhos que perderem as semifinais disputarão o 3º lugar e os barquinhos que vencerem as semifinais disputarão o 1º Lugar. OBS: Na fase semifinal 
            e final em se comprovando empate pela análise de vídeo uma nova corrida deverá ser requisitada.
        </p>
    
        <h4>7) REGRAS DA CORRIDA:</h4>
        <p>
            <p>7.1 – Cada equipe com auxílio de uma seringa, deverá abastecer os canudos da evaporadora com água da própria pista e com cuidado posicionar o barquinho no INÍCIO da sua respectiva pista aquática  e deixar o mesmo PARADO. Em hipótese alguma o barquinho poderá ser empurrado com as mãos, assoprado etc. Caso isso ocorra, a equipe poderá ser penalizada com desclassificação.</p>
            <p>7.2 – Ao sinal do fiscal cada equipe com auxílio de um isqueiro ou acendedor deverá proceder imediatamente ao acendimento do pavio da vela (um outro membro da equipe deverá ajudar a manter o barquinho parado no momento do acendimento da vela). Neste momento a corrida JÁ ESTARÁ VALENDO! O tempo gasto neste procedimento  e o tempo que o barquinho levará para iniciar o seu movimento será parte integrante da corrida.</p>
            <p>7.3 – Vence o barquinho que chegar primeiro ou sozinho ao final da pista (quando bater no final da calha). Após 2 minutos, se os DOIS barquinhos não saírem do lugar uma nova corrida com os barquinhos reservas será solicitada pelos fiscais (se repetir o ocorrido a próxima corrida será solicitada pelos Fiscais) A Pista terá 150 cm de comprimento, 20 cm de largura e 5 cm de profundidade. Descontando o comprimento do barquinho (~21.5 cm) tem-se 128,5 cm de percurso útil na pista.</p>
            <p>7.4 – Caso haja suspeita de empate será procedida a análise de vídeo. Comprovando o empate na fase de grupos será concedido 1 ponto para cada equipe. Caso haja empate nas fases eliminatórias uma nova corrida deverá ser requisitada.</p>
            <p>7.5 – Os acessórios necessários para a corrida (seringa, isqueiro ou acendedor) e materiais de reposição (velas palito, elásticos) serão de inteira responsabilidade das escolas participantes. É extremamente indicado levar uma reserva desses materiais para reposição durante a competição.</p>
            <p>7.6 – A escola poderá levar um barquinho reserva desde que seja uma réplica fiel ao titular tanto nas dimensões quanto na personalização, entretanto é de suma importância que o(s) barquinho(s) seja(m) testado(s) e colocado(s) em funcionamento na escola para evitar surpresas indesejadas no dia da Mostra. Também é indicado o uso de uma caixa para transportar e armazenar o(s) barquinho(s) para evitar eventuais danificações.</p>
        </p>
    
        <h4>8) PREMIAÇÃO:</h4>
        <p>
            <p>8.1- A equipe com o barquinho mais bonito da competição será premiada com 5 mini barquinhos de controle remoto (1 para cada estudante da equipe).</p>
            <p>8.2- A equipe que ficar em 3º Lugar será premiada com medalhas de bronze.</p>
            <p>8.3- A equipe que ficar em 2º Lugar será premiada com medalhas de prata.</p>
            <p>8.4- A equipe que ficar em 1º Lugar será premiada com o troféu da competição, com medalhas de ouro e com uma visita (com transporte e almoço inclusos) para conhecer um navio da Marinha atracado no Porto de Santos. Essa visita acontecerá no dia 19.10.23 (quinta-feira) com saída 7hs do Colégio Objetivo Aquárius em São José dos Campos e volta às 17hs do Cais Porto de Santos (Marinha).</p>
        </p>
    
        <h4>9) CONDUTA DOS COMPETIDORES:</h4>
        <p>
            <p>9.1 - Os competidores devem se comportar de maneira sociável e amigável para com os adversários, espectadores e membros oficiais do evento.</p>
            <p>9.2 – Os competidores não devem usar linguagem vulgar enquanto estiverem competindo, dirigir palavras ofensivas, desafios, ironias, gestos obscenos e afins aos adversários. Caso ocorra, poderão ser penalizados com desclassificação.</p>
            <p>9.3 - Os competidores deverão estar disponíveis para cerimônias de premiação, fotografias ou qualquer outro evento oficial, como por exemplo a visita ao navio da Marinha em Santos no dia 19.10.23 em caso de a equipe ficar em 1º Lugar.</p>
            <p>9.4 – Em todas as etapas do projeto os alunos e/ou responsáveis autorizam o uso de suas imagens, nomes e vozes pela Comissão organizadora durante o prazo de 24 meses (vinte e quatro meses) a contar da data da seletiva nas escolas.</p>
        </p>
    
        <h4>10) CONSIDERAÇÕES FINAIS:</h4>
        <p>
            <p>Lembramos que é responsabilidade de cada escola garantir que os barquinhos estejam em conformidade com as especificações mencionadas acima. Além disso, é fundamental incentivar a participação ativa dos alunos no processo de construção, promovendo a criatividade e a colaboração. A lista dos 5 alunos/professor representante deverá ser enviada até o dia 29.06.23 por meio do formulário a seguir:</p>

            <p><a href="https://acesse.one/9oiTF">https://acesse.one/9oiTF</a></p>

            <p>Também é muito importante durante a preparação dos estudantes que os professores responsáveis promovam uma reflexão sobre fracasso e sucesso em situações classificatórias como as que ocorrem em olimpíadas, vestibulares, dinâmica em entrevista de emprego e competições como a MOBVAP. Indicamos o vídeo de uma resposta do jogador da NBA Giannis Antetokounmpo do Miwaukee Bucks a uma pergunta de um entrevistador. A resposta se aplica em qualquer época e área de nossas vidas.</p>

            <p>LINK do vídeo para reflexão:</p>
            <p><a href="https://www.tiktok.com/@go.ots/video/7226748465148153093">https://www.tiktok.com/@go.ots/video/7226748465148153093</a></p>

            <p>Desejamos a todos um evento emocionante e cheio de diversão! Se tiverem alguma dúvida ou necessitarem de mais informações, não hesitem em entrar em contato.</p>

            <br>
            <p>Atenciosamente,<br>Equipe MOBVAP.</p>
        </p>
    </div>

{% endblock %}